<article class="entry entry-{{build.overall}}">
  <h3>{{#link-to "builds.show" build}}#{{build.id}}{{/link-to}} [{{build.repo}}] {{#link-to "builds.show" build}}{{build.label}}{{/link-to}}</h3>
  <div class="detail status">
    <span>overall:</span> {{build.overall}}
  </div>
</article>