<div class="jumbo show-listing {{model.status}}">
  <h2 class="title">{{model.owner}}/{{model.name}} <a href="{{model.github}}">{{fa-icon "github"}}</a></h2>
  <div class="right detail-section">
    <div class="detail rustfmt">
        <strong>rustfmt:</strong> {{model.rustfmt}}
    </div>
    <div class="detail clippy">
      <strong>clippy:</strong> {{model.clippy}}
    </div>
    
  </div>
  <div class="detail status">
    <strong>status:</strong> {{model.status}}
  </div>
</div>

