<div class="jumbo show-listing jumbo-{{model.overall}}">
  <h2 class="title">{{model.owner}}/{{model.name}} <a href="{{model.github}}">{{fa-icon "github"}}</a></h2>
  <b>status:</b> {{model.overall}}
</div>

<div class="status">
  <h3 class="sub-title">tests</h3>
  <table width="100%">
    <tr>
      <th></th>
      <td class="status status-{{model.style}}"><b>style:</b> {{model.style}}</td>
      <td class="status status-{{model.lint}}"><b>lint:</b> {{model.lint}}</td>
      <td class="status status-{{model.fuzz}}"><b>fuzz:</b> {{model.fuzz}}</td>
    </tr>
    <tr>
      <th/>
      <td class="status status-{{model.stable}}"><b>stable:</b> {{model.stable}}</td>
      <td class="status status-{{model.beta}}"><b>beta:</b> {{model.beta}}</td>
      <td class="status status-{{model.nightly}}"><b>nightly:</b> {{model.nightly}}</td>  
    </tr>
  </table>
</div>

<div class="matrix">
  <h3 class="sub-title">build matrix</h3>
  <table width="100%">
    <tr>
      <td class="matrix matrix-{{model.aarch64_unknown_linux_gnu}}"><b>aarch64-unknown-linux-gnu:</b> {{model.aarch64_unknown_linux_gnu}}</td>
      <td class="matrix matrix-{{model.aarch64_unknown_linux_gnu_stable}}"><b>stable:</b> {{model.aarch64_unknown_linux_gnu_stable}}</td>
      <td class="matrix matrix-{{model.aarch64_unknown_linux_gnu_beta}}"><b>beta:</b> {{model.aarch64_unknown_linux_gnu_beta}}</td>
      <td class="matrix matrix-{{model.aarch64_unknown_linux_gnu_nightly}}"><b>nightly:</b> {{model.aarch64_unknown_linux_gnu_nightly}}</td>
    </tr>
    <tr>
      <td class="matrix matrix-{{model.arm_unknown_linux_gnueabi}}"><b>arm-unknown-linux-gnueabi:</b> {{model.arm_unknown_linux_gnueabi}}</td>
      <td class="matrix matrix-{{model.arm_unknown_linux_gnueabi_stable}}"><b>stable:</b> {{model.arm_unknown_linux_gnueabi_stable}}</td>
      <td class="matrix matrix-{{model.arm_unknown_linux_gnueabi_beta}}"><b>beta:</b> {{model.arm_unknown_linux_gnueabi_beta}}</td>
      <td class="matrix matrix-{{model.arm_unknown_linux_gnueabi_nightly}}"><b>nightly:</b> {{model.arm_unknown_linux_gnueabi_nightly}}</td>
    </tr>
    <tr>
      <td class="matrix matrix-{{model.arm_unknown_linux_gnueabihf}}"><b>arm-unknown-linux-gnueabihf:</b> {{model.arm_unknown_linux_gnueabihf}}</td>
      <td class="matrix matrix-{{model.arm_unknown_linux_gnueabihf_stable}}"><b>stable:</b> {{model.arm_unknown_linux_gnueabihf_stable}}</td>
      <td class="matrix matrix-{{model.arm_unknown_linux_gnueabihf_beta}}"><b>beta:</b> {{model.arm_unknown_linux_gnueabihf_beta}}</td>
      <td class="matrix matrix-{{model.arm_unknown_linux_gnueabihf_nightly}}"><b>nightly:</b> {{model.arm_unknown_linux_gnueabihf_nightly}}</td>
    </tr>
    <tr>
      <td class="matrix matrix-{{model.armv7_unknown_linux_gnueabihf}}"><b>armv7-unknown-linux-gnueabihf:</b> {{model.armv7_unknown_linux_gnueabihf}}</td>
      <td class="matrix matrix-{{model.armv7_unknown_linux_gnueabihf_stable}}"><b>stable:</b> {{model.armv7_unknown_linux_gnueabihf_stable}}</td>
      <td class="matrix matrix-{{model.armv7_unknown_linux_gnueabihf_beta}}"><b>beta:</b> {{model.armv7_unknown_linux_gnueabihf_beta}}</td>
      <td class="matrix matrix-{{model.armv7_unknown_linux_gnueabihf_nightly}}"><b>nightly:</b> {{model.armv7_unknown_linux_gnueabihf_nightly}}</td>
    </tr>
    <tr>
      <td class="matrix matrix-{{model.i686_unknown_linux_gnu}}"><b>i686-unknown-linux-gnu:</b> {{model.i686_unknown_linux_gnu}}</td>
      <td class="matrix matrix-{{model.i686_unknown_linux_gnu_stable}}"><b>stable:</b> {{model.i686_unknown_linux_gnu_stable}}</td>
      <td class="matrix matrix-{{model.i686_unknown_linux_gnu_beta}}"><b>beta:</b> {{model.i686_unknown_linux_gnu_beta}}</td>
      <td class="matrix matrix-{{model.i686_unknown_linux_gnu_nightly}}"><b>nightly:</b> {{model.i686_unknown_linux_gnu_nightly}}</td>
    </tr>
    <tr>
      <td class="matrix matrix-{{model.i686_unknown_linux_musl}}"><b>i686-unknown-linux-musl:</b> {{model.i686_unknown_linux_musl}}</td>
      <td class="matrix matrix-{{model.i686_unknown_linux_musl_stable}}"><b>stable:</b> {{model.i686_unknown_linux_musl_stable}}</td>
      <td class="matrix matrix-{{model.i686_unknown_linux_musl_beta}}"><b>beta:</b> {{model.i686_unknown_linux_musl_beta}}</td>
      <td class="matrix matrix-{{model.i686_unknown_linux_musl_nightly}}"><b>nightly:</b> {{model.i686_unknown_linux_musl_nightly}}</td>
    </tr>
    <tr>
      <td class="matrix matrix-{{model.x8664_unknown_linux_gnu}}"><b>x86_64-unknown-linux-gnu:</b> {{model.x8664_unknown_linux_gnu}}</td>
      <td class="matrix matrix-{{model.x8664_unknown_linux_gnu_stable}}"><b>stable:</b> {{model.x8664_unknown_linux_gnu_stable}}</td>
      <td class="matrix matrix-{{model.x8664_unknown_linux_gnu_beta}}"><b>beta:</b> {{model.x8664_unknown_linux_gnu_beta}}</td>
      <td class="matrix matrix-{{model.x8664_unknown_linux_gnu_nightly}}"><b>nightly:</b> {{model.x8664_unknown_linux_gnu_nightly}}</td>
    </tr>
    <tr>
      <td class="matrix matrix-{{model.x8664_unknown_linux_musl}}"><b>x86_64-unknown-linux-musl:</b> {{model.x8664_unknown_linux_musl}}</td>
      <td class="matrix matrix-{{model.x8664_unknown_linux_musl_stable}}"><b>stable:</b> {{model.x8664_unknown_linux_musl_stable}}</td>
      <td class="matrix matrix-{{model.x8664_unknown_linux_musl_beta}}"><b>beta:</b> {{model.x8664_unknown_linux_musl_beta}}</td>
      <td class="matrix matrix-{{model.x8664_unknown_linux_musl_nightly}}"><b>nightly:</b> {{model.x8664_unknown_linux_musl_nightly}}</td>
    </tr>
  </table>
</div>